<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IncludeAccountingData" value="Y"/>
		<add key="BrowserIsVisible" value="N" />
		<add key="ConnectToSandbox" value="Y"/>
		<add key="LogFolderName" value="logs"/>
		<add key="ConsoleScreenLogMessage" value="Y"/>
		<add key="TraceElement" value="N" />
		<add key="DT-Id" value="539"/>
		<add key="DT-Name" value="PT CIPTA ALAM BAHAGIA"/>
		<add key="LoginId" value="082112938888"/>
		<add key="Password" value="Fairbanc#123"/>
		<add key="AppDownloadFolder" value="webui-PtCiptaAlamBI"/>
		<add key="UploadFolder" value="uploads"/>
		<add key="DataFolder" value="sharing"/>
	</appSettings>
</configuration>